@import "../styles/Mixins.module.scss";

.containerAboutVCard {
    @include block-alignment-center;
    align-items: center;
    flex-direction: row;
    column-gap: 3rem;
    align-items: self-start;

    &_content {
        @include block-alignment-center;
        flex-direction: column;
    }
}
.optionsVCard {
    @include block-alignment-center;
    flex-direction: column;
    background-color: rgb(73 63 64);
    border-radius: 0.5rem;

    &_value {
        margin: 0.5rem;
    }
}
.containerAboutVCardFirst, .containerAboutVCardSecond {
    @include block-alignment-center;
    align-items: center;
    flex-direction: column; 
}

@media (max-width: 820px) {
    .containerAboutVCard {
        flex-direction: column;
    }
}