$light-grey-color: #d6dadb;
$light-grey-color-1: #ccc;
$light-grey-color-2: #eee;
$light-grey-color-3: rgb(93 93 93 / 40%);
$red-color: #ff444f;
$red-color-1: #d43e47;
$white-color: #fff;
$black-color: #333;
$black-color-2: #0e0e0e;
$black-color-3: rgb(73 63 64);
$black-color-4: rgba(0, 0, 0, 1.00);
$black-color-5: #0d071a;
$black-color-6: #000000;
$blue-color: cornflowerblue;