@import "mixins";
@import "colors.module";

.banner-container{
    margin: 0px;

    .animation_container{
        border: 0px solid $white-color;
        border-radius: 0.5rem;
        width: 550px; 
        height: 400px;

        .banner_canvas{
            position: absolute;
            display: none; 
            background-color: $black-color-4;
            z-index: 999;
            border: 2px solid $white-color;
            border-radius: 0.5rem;
        }

        .overlay_container{
            pointer-events:none; 
            overflow:hidden; 
            width:550px; 
            height:400px; 
            position: absolute; 
            left: 0px; 
            top: 0px; 
            display: none;
        }
    }
    .preloader-container{
        position: relative;
        top: 10rem; 
        height:400px; 
        width: 550px; 
        text-align: center;

        &_spinner{
            vertical-align: middle; 
            max-height: 100%;
        }
    }
}
@media (max-width: 660px) {
    .animation_container {
        @include block-alignment-center;
        align-items: center;
    }

    .banner_canvas {
        width: 88% !important;
        height: auto !important;
    }
}