:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;
}

[data-theme="light"] {
    color: #eee;
    background: linear-gradient(to bottom, #0d071a, #000000);
}

html,
body {
    padding: 0;
    margin: 0;
}

#stars{
    width: 3px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-animation: rotate 270s infinite linear;
            animation: rotate 270s infinite linear;
}
@-webkit-keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#__next {
    min-height: 100vh;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

main {
    padding: 20px;
}

header,
footer {
    min-height: 80px;
}

header {
    background: black;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

footer {
    background: black;
    z-index: 999;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 820px) {
    main{
        overflow-x: hidden;
    }
    footer{
        width: 100%;
    }
}