@import "mixins";

.containerSelectSize {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.size-select {
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.qr-code-container {
    @include block-alignment-center;
    align-items: center;
    height: 14rem;
    margin: 1rem;
    width: 14rem;

    .containerQR {
        @include block-alignment-center;
    }
}