@import "mixins";

.containerSelectSize {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.size-select {
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
    margin: 1rem;

    .containerQR {
        @include block-alignment-center;
    }
}

@media (max-width: 660px) {
    .containerSelectSize {
        align-items: center;
    }
    .qr-code-container {
        height: 75vw;
        width: 75vw;
    }
}